/.flow/logs
/docs
/tools/embed/bin
/tools/embed/obj
.flow/rag/bin/embed.pdb
.flow/rag/bin/DirectML.pdb
.flow/rag/bin/DirectML.Debug.pdb
.flow/rag/db/local.db
.flow/bin/flow.pdb
/tools/flow-cli/bin
/tools/flow-cli/obj
/testscript
/tools/flow-cli.Tests
/.flow/rag/bin/models
examples/testimage/testimage.png
/.github/skills/skill-creator
tools/e2e-test/adapters/flutter/.dart_tool/extension_discovery/vs_code.json
/tools/capture-cli/bin
/tools/capture-cli/obj
/.specify
.github/agents/speckit.analyze.agent.md
.github/agents/speckit.checklist.agent.md
.github/agents/speckit.clarify.agent.md
.github/agents/speckit.constitution.agent.md
.github/agents/speckit.implement.agent.md
.github/agents/speckit.plan.agent.md
.github/agents/speckit.specify.agent.md
.github/agents/speckit.tasks.agent.md
.github/agents/speckit.taskstoissues.agent.md
.github/prompts/speckit.analyze.prompt.md
.github/prompts/speckit.checklist.prompt.md
.github/prompts/speckit.clarify.prompt.md
.github/prompts/speckit.constitution.prompt.md
.github/prompts/speckit.implement.prompt.md
.github/prompts/speckit.plan.prompt.md
.github/prompts/speckit.specify.prompt.md
.github/prompts/speckit.tasks.prompt.md
.github/prompts/speckit.taskstoissues.prompt.md
.vscode/settings.json
