/.flow/logs
/docs
/tools/embed/bin
/tools/embed/obj
.flow/rag/bin/embed.pdb
.flow/rag/bin/DirectML.pdb
.flow/rag/bin/DirectML.Debug.pdb
.flow/rag/db/local.db
.flow/bin/flow.pdb
/tools/flow-cli/bin
/tools/flow-cli/obj
/testscript
/tools/flow-cli.Tests
/.flow/rag/bin/models
examples/testimage/testimage.png
/.github/skills/skill-creator
tools/e2e-test/adapters/flutter/.dart_tool/extension_discovery/vs_code.json
/tools/capture-cli/bin
/tools/capture-cli/obj
